.btn {
  padding: 1.25rem 1rem;
  display: inline-block;
  border-radius: 5px;
  color: $mainGreen;
  margin: 2.5rem 0;

  &--primary {
    background-color: $mainGreen;
    color: #fff;
  }
  &--wide {
    padding: 1em 6em;
  }
  &--close {
    filter: opacity(0.5);
  }
}

/* Tablet and desktop styles */
@media (min-width: 768px) {
}

@media (min-width: 990px) {
  .btn {
    &--wide {
      padding: 1.2rem 8em;
    }
  }
}

/* Large desktop styles */
@media (min-width: 1024px) {
  .btn {
    padding: 1.25rem 1rem;
    display: inline-block;
    border-radius: 5px;
    color: $mainGreen;

    &--primary {
      background-color: $mainGreen;
      color: #fff;
    }
    &--wide {
      padding: 1.2rem 8em;
    }
  }
}
