@media (min-width: 768px) {
}

/* Large desktop styles */
@media (min-width: 1024px) {
  .container {
    width: 85%;
    margin: auto;
    /* border: 1px solid; */

    &--padded {
      padding: 1.25rem;
    }
  }
}
