@media (min-width: 768px) {
}

/* Large desktop styles */
@media (min-width: 1024px) {
  .header {
    &__logo {
      transform: scale(0.75);
    }

    &__nav {
      float: right;
      color: $mainBlue;

      & li {
        display: inline-block;
        margin-right: 1.5em;
      }
    }

    &__user-links {
      float: right;

      & > a:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}
